<script language="Javascript">
  Stripe.setPublishableKey("<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>");
</script>

<%= render 'shared/errors', obj: @chef %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@chef, :html => {class: "form-horizontal", 
      role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :chefname, "Name" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :chefname, class: "form-control", 
                    placeholder: "Enter your name", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :email %>
        </div>
        <div class="col-md-8">
          <%= f.email_field :email, class: "form-control", 
                    placeholder: "Enter your email" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :password %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password, class: "form-control", 
                    placeholder: "Choose a password" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :password_confirmation, "Confirm Password" %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, class: "form-control", 
                    placeholder: "Confirm password" %>
        </div>
      </div>
      
<!-- ------------------------------ Add Lect#219 --------------------------------- -->
    <%= fields_for( :payment ) do |p| %>
      <div class="row col-md-12">
        <div class="form-group col-md-4 no-left-padding">
          <%= p.label :card_number, "Card Number", data: { stripe: 'label'} %>
          <%= p.text_field :card_number, class: "form-control", required: true, data: { stripe: 'number'} %>
        </div>
        <div class="form-group col-md-2">
          <%= p.label :card_cvv, "Card CVV", data: { stripe: 'label'} %>
          <%= p.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'cvc'} %>
        </div>
        <div class="form-group col-md-6">
          <div class="col-md-12">
            <%= p.label :card_expires, "Card Expires", data: { stripe: 'label'} %>
          </div>
          <div class="col-md-3">
            <%= p.select :card_expires_month, options_for_select(Payment.month_options),
                  { include_blank: 'Month' },
                  "data-stripe" => "exp-month",
                  class: "form-control", required: true %>
          </div>
          <div class="col-md-3">
            <%= p.select :card_expires_year, options_for_select(Payment.year_options.push),
                    { include_blank: 'Year' },
                    class: "form-control",
                    data: { stripe: "exp-year" }, required: true %>
          </div>
        </div>
      </div>
    <% end %>      
<!-- ------------------------------ End Add ---------------------------------- -->
      
      
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit(@chef.new_record? ? "Create my account" : "Update my account", 
                            class: "btn btn-primary btn-lg btn-xlarge") %>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Cancel request and return to posts listing", 
            recipes_path %> ]
    </div>
  </div>
</div>