 <!-- ================= start chapte list =============================== -->         
        <!-- ---------------- Chapter 1------------------------------------>
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">
          Menu
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <strong>Introduction</strong>
            <li><%= link_to "Section 1", chapter1_1_path %></li>
            <li><%= link_to "Section 2", chapter1_2_path %></li>
            <li><%= link_to "Section 3", chapter1_3_path %></li>
            <li><%= link_to "Section 4", chapter1_4_path %></li>
            <li role="separator" class="divider"></li>
            
            <strong>Variables</strong>
            <li><%= link_to "Section 1", chapter2_1_path %></li>
            <li><%= link_to "Section 2", chapter2_2_path %></li>
            <li><%= link_to "Section 3", chapter2_3_path %></li>
            <li role="separator" class="divider"></li>
            
            <strong>Conditional Statements</strong>
            <li><%= link_to "Section 1", chapter3_1_path %></li>
            <li><%= link_to "Section 2", chapter3_2_path %></li>
            <li role="separator" class="divider"></li>
            
            <strong>Best Programming Practices</strong>
            <li><%= link_to "Section 1", chapter4_1_path %></li>
            <li><%= link_to "Section 2", chapter4_2_path %></li>
            <li><%= link_to "Section 3", chapter4_3_path %></li>
            <li><%= link_to "Section 4", chapter4_4_path %></li>
            <li><%= link_to "Section 5", chapter4_5_path %></li>
            <li role="separator" class="divider"></li>
            
            <strong>While Loops</strong>
            <li><%= link_to "Section 1", chapter5_1_path %></li>
            <li><%= link_to "Section 2", chapter5_2_path %></li>
            <li role="separator" class="divider"></li>
            
            <strong>For Loops</strong>
            <li><%= link_to "Section 1", chapter6_1_path %></li>
            <li><%= link_to "Section 2", chapter6_2_path %></li>
            <li role="separator" class="divider"></li>
            
            <strong>Arrays</strong>
            <li><%= link_to "Section 1", chapter7_1_path %></li>
            <li><%= link_to "Section 2", chapter7_2_path %></li>
            <li><%= link_to "Section 3", chapter7_3_path %></li>
            <li role="separator" class="divider"></li>
            
            <strong>Methods</strong>
            <li><%= link_to "Section 1", chapter8_1_path %></li>
            <li><%= link_to "Section 2", chapter8_2_path %></li>
            <li role="separator" class="divider"></li>
            
            <strong>Strings</strong>
            <li><%= link_to "Section 1", chapter9_1_path %></li>
            <li><%= link_to "Section 2", chapter9_2_path %></li>
          </ul>
        </li>
        <!-- --------------------------------------------------------------> 
<!-- =================== End chapte list =============================== -->  