<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" 
      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" 
                                                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Main", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!-- ================= start chapte list =============================== -->         
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">
          Menu
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Introduction", chapter1_1_path %></li>
            <li><%= link_to "Variables", chapter2_1_path %></li>
            <li><%= link_to "Conditional Statements", chapter3_1_path %></li>
            <li><%= link_to "Best Programming Practices", chapter4_1_path %></li>
            <li><%= link_to "While Loops", chapter5_1_path %></li>
            <li><%= link_to "For Loops", chapter6_1_path %></li>
            <li><%= link_to "Arrays", chapter7_1_path %></li>
            <li><%= link_to "Methods", chapter8_1_path %></li>
            <li><%= link_to "Strings", chapter9_1_path %></li>
          </ul>
<!-- =================== End chapte list =============================== -->        
        <li><%= link_to "All Posts", recipes_path %></li>
        <% if logged_in? %>
          <li><%= link_to "New Posts", new_recipe_path %></li>
          <li><%= link_to "Chat", chat_path %></li>
        <% end %>
        <!-- =============== display all user ================= -->
        <% if logged_in? && current_chef.admin? %>
           <li><%= link_to "User", chefs_path %></li>
        <% end %>
        <!-- ================================================== -->        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
            role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_chef.chefname.capitalize %>'s Profile 
                                <%= "Admin" if current_chef.admin? %> 
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "View your profile", 
                                chef_path(current_chef) %></li>
              <li><%= link_to "Edit your profile", 
                                edit_chef_path(current_chef) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log out", logout_path, 
                                      method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up", signup2_path %></li>
          <li><%= link_to "Log in", login_path %></li>  
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>